<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113961908026-e62ktl30u0632834fdq9vrco6t46u7bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113961908026-e62ktl30u0632834fdq9vrco6t46u7bs</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Xghfs4ETRtUtuBdGk-nxY4coQhYWllU</string>
	<key>GCM_SENDER_ID</key>
	<string>113961908026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gilbert.FirebaseLoginApp</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-61919</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-61919.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113961908026:ios:cc88f5c281c02f754d8203</string>
</dict>
</plist>